.createNewGood
  display: inline-block
  cursor: pointer
  height: 2.5em
  width: fit-content
  padding: 15px 25px
  position: absolute
  right: 0
  margin-right: 55px
  background: #8e8e8e
  color: white
  font-weight: bold
  border-radius: 5px

.unvisible
  display: none
