@import "../../../variables"

.without_item
  margin: 100px 0
  color: black
  font-size: 20px
  text-align: center

._btn_
  background: #131313
  color: #fff
  border: none
  border-radius: 1px
  cursor: pointer
  display: inline-block
  font-size: 11px
  height: 35px
  line-height: 35px
  letter-spacing: 0.96px
  padding: 0 20px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: .4s
  vertical-align: top
  cursor: pointer

.cart-dropdown
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: $background_second
  transition: 3s
  overflow-y: scroll
  padding-bottom: 50px

  h1
    text-align: center
    margin: 0
    margin-bottom: 20px
    padding: 20px 0
    border-bottom: 1px solid $background_second
    background: $background_main

  .cross
    position: absolute
    right: 5px
    top: 18px
    font-size: 45px
    color: $background_second
    cursor: pointer
    transition: 0.5s

    &:hover
      color: $main_color

  .table
    background: #fff
    border-radius: 1px
    color: #010101
    margin: 25px auto 0
    padding: 0 0
    width: 100%

    table
      text-align: left
      width: 100%
      border-collapse: collapse
      border-color: grey

      .thead
        font-size: 12px
        letter-spacing: 0.24375px
        color: #969696
        text-transform: none

        th
          padding: 22px 0 8px
          font-weight: 300

          &:nth-child(1)
            width: 23.3%
            padding-left: 15px

          &:nth-child(2)
            width: 25%
            padding-left: 120px

          &:nth-child(3)
            width: 15%

          &:nth-child(4)
            width: 7.7%

          &:nth-child(5)
            width: 10.8%
            padding-left: 65px

          &:nth-child(6)
            width: 10.8%
            padding-left: 65px

      .tfoot

        td
          border-top: 1px solid #EBF0F3
          padding: 23px 0 25px

          .table-flex-wrap
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start

            .table-col
              width: 45%
              padding: 0 25px

              .promo
                position: relative

              .table-form
                font-size: 0

                input
                  width: 53.3%
                  font-size: 15px
                  line-height: 15px
                  letter-spacing: 0.24px
                  padding: 8px 0
                  padding-left: 12px
                  border: 1px solid #D5E3E4
                  box-sizing: border-box
                  border-radius: 2px
                  height: 35px
                  margin-right: 10px

                ._btn_
                  border: 1px solid #D5E3E4
                  font-size: 12px
                  letter-spacing: 1px
                  text-transform: uppercase

                ._white
                  background: #fff
                  color: #131313

                  &:hover
                    background-color: #D8E1E5
                    border-color: #D8E1E5
                    color: #000

            .table-col--width
              display: flex
              padding-left: 0
              align-items: flex-end
              width: 54%
              padding-right: 18px
              text-align: right

              .forCartTotal
                flex-grow: 1

                .table-price__wrap
                  display: flex
                  flex-direction: column
                  align-items: stretch
                  width: 85%
                  margin-right: auto
                  margin-left: 18px

                  .table-price__row
                    display: flex
                    justify-content: flex-start
                    margin-bottom: 18px
                    font-size: 14px
                    line-height: 15px
                    letter-spacing: 0.2625px
                    color: #979797

                    p
                      width: 52.6%
                      text-align: right
                      padding-right: 8px

                    span
                      width: 64.8%
                      font-size: 16px
                      letter-spacing: 0.2625px
                      color: #3F3F3F
                      text-align: left

                  .table-price__value
                    font-size: 14px
                    line-height: 18px
                    letter-spacing: 0.2625px
                    color: #979797
                    margin-top: 0px
                    margin-bottom: 0

                    p
                      width: 52.6%
                      padding-right: 7px
                      font-size: 16px
                      padding-top: 4px
                      padding-bottom: 3px
                      align-self: flex-end

                    span
                      width: 57.8%
                      line-height: 50px
                      font-size: 30px
                      letter-spacing: 1.3px
                      color: #000000
                      margin-right: 22px
                      margin-left: 2px
                      font-weight: 600

              .table-price__btns-wrap
                align-self: baseline
                display: flex

                .table-price__link
                  font-size: 16px
                  letter-spacing: 0.5px
                  text-transform: uppercase
                  color: #fff
                  background: #131313
                  text-decoration: none
                  font-weight: 700
                  padding: 10px 31px
                  align-self: flex-end
                  margin-bottom: 0
                  max-height: 40px
                  line-height: 40px
                  padding-top: 0
                  padding-bottom: 0
                  width: 200px
                  text-align: center
                  margin-left: 0

  .mobile
    background: #fff
    display: none
    margin: 0 auto 12px
    padding: 0 12px
    width: 100%

    .list
      display: block
      flex-wrap: wrap

    .bottom
      border-top: 1px solid #E9EFF3
      padding: 15px 0 0

    .table-col
      width: 45%
      padding-right: 25px
      padding-left: 25px

    .table-form
      font-size: 0

      input
        width: 53.3%
        font-size: 15px
        line-height: 15px
        letter-spacing: 0.24px
        padding: 8px 0
        padding-left: 12px
        border: 1px solid #D5E3E4
        box-sizing: border-box
        border-radius: 2px
        height: 35px
        margin-right: 10px

      ._btn_
        border: 1px solid #D5E3E4
        font-size: 12px
        letter-spacing: 1px
        text-transform: uppercase

      ._white
        background: #fff
        color: #131313

    .promo
      position: relative

    .table-col--width
      display: flex
      padding-left: 0
      align-items: flex-end
      width: 54%
      padding-right: 18px
      text-align: right

      .forCartTotal
        flex-grow: 1

        .table-price__wrap
          display: flex
          flex-direction: column
          align-items: stretch
          width: 85%
          margin-right: auto
          margin-left: 18px

          .table-price__value
            font-size: 14px
            line-height: 18px
            letter-spacing: 0.2625px
            color: #979797
            margin-top: 0
            margin-bottom: 0

            p
              width: 52.6%
              padding-right: 7px
              padding-top: 4px
              padding-bottom: 3px
              align-self: flex-end

            span
              width: 57.8%
              font-size: 30px
              letter-spacing: 1.3px
              color: #000000
              margin-right: 22px
              margin-left: 2px
              font-weight: 600

          .table-price__row
            display: flex
            justify-content: flex-start
            margin-bottom: 18px
            font-size: 14px
            line-height: 15px
            letter-spacing: 0.2625px
            color: #979797

            p
              width: 52.6%
              text-align: right
              padding-right: 8px

            span
              width: 64.8%
              line-height: 40px
              padding-right: 20px
              font-size: 16px
              letter-spacing: 0.2625px
              color: #3F3F3F
              text-align: left

      .table-price__btns-wrap
        display: flex

        .table-price__link
          font-size: 12px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #fff
          background: #131313
          text-decoration: none
          font-weight: 700
          padding: 10px 31px
          align-self: flex-end
          margin-bottom: 0
          max-height: 40px
          line-height: 40px
          padding-top: 0
          padding-bottom: 0
          width: 200px
          text-align: center
          margin-left: 0

    .table-col
      width: 45%
      padding-right: 25px
      padding-left: 25px


@media (max-width: 1299px) and (min-width: 1001px)
  .table-col
    width: 40%
    padding-right: 0

  .table-col--width
    width: 60%
    padding-right: 18px
    padding-left: 0

  .table-form
    input
      width: 60%

@media (max-width: 1000px)
  .mobile
    display: block !important

  .wrapper
    margin-top: 50px !important

  .table
    display: none

  .list
    justify-content: center

@media (max-width: 1000px) and (min-width: 320px)
  .table-col
    width: 100% !important
    padding: 0 !important
    margin-bottom: 12px !important

  .table-form
    margin-top: 7px !important
    margin-bottom: 7px !important

    input
      margin-right: 7px !important
      width: 63% !important
      font-size: 12px !important
      letter-spacing: 0.315px !important
      height: 30px !important
      padding-left: 7px !important

    ._btn_
      font-size: 9px !important
      line-height: 11px !important
      letter-spacing: 0.5625px !important
      height: 30px !important
      padding: 0 15px !important

  .table-col--width
    display: block !important
    margin-bottom: 0 !important

  .table-col
    width: 100% !important
    padding: 0 !important
    margin-bottom: 12px !important

  .table-price__wrap
    width: 100% !important
    margin-left: 0 !important

    .table-price__value
      margin-bottom: 23px !important

      p
        padding: 0 !important

      span
        font-size: 18px !important
        margin: 0 !important
        letter-spacing: 0 !important
        margin-top: -4px !important
        font-weight: 700 !important

    .table-price__row
      justify-content: space-between !important
      font-size: 12px !important
      margin-bottom: 15px !important

      p
        width: auto !important

      span
        width: auto !important
        font-size: 14px !important

  .table-price__link
    display: block !important
    width: 100% !important
    text-align: center !important
    max-height: 40px !important
    padding: 0 !important
    margin-left: 0 !important
    margin-bottom: 16px !important
