@import '../../variables'

.main
  .attentions
    display: none
    height: 60px
    margin: 20px 0

  hr
    margin: 0 3px
    border: 10px solid $main_color

  .content
    width: 100%
    margin: auto

  .containerer
    background-color: #deebf1

  .wrapperssss
    min-width: 320px
    max-width: 767px
    padding-right: 10px
    padding-left: 10px
    margin: 0 auto

  .product-wrap
    padding: 25px 0 20px

  @media (min-width: 660px)
    .product-wrap
      padding-bottom: 0

  @media (min-width: 1000px)
    .product-wrap
      max-width: none
      padding-top: 35px


  @media (min-width: 1000px)
    .wrapper
      max-width: 1320px

  @media (max-width: 1023px) and (min-width: 767px)
    .wrapper
      min-width: 767px
      max-width: 1023px

  .title
    font-family: "Bebas Neue"
    text-align: center
    font-weight: 700

  .title--x2
    margin-bottom: 5px
    font-size: 26px
    line-height: 32px
    letter-spacing: .541667px

  @media (min-width: 1001px)
    .title--x2
      margin-bottom: 7px
      font-size: 36px
      line-height: 40px
      text-align: center
      letter-spacing: 1.8px
      text-transform: uppercase

  .tabs__nav
    font-size: 0
    text-align: center
    border-bottom: 1px solid #dedede

  .attention
    width: 100vw
    height: 75vh
    padding-bottom: 2px

  .descr
    padding-top: 10px
    padding-bottom: 45px
    text-align: center

  @media (min-width: 1000px)
    .descr
      padding-top: 55px
      padding-bottom: 60px


  .descr__wrap
    padding-top: 20px
    border: 1px dashed #c1c1c1

  @media (min-width: 1000px)
    .descr__wrap
      padding-top: 25px


  .follow-us
    padding-top: 25px
    text-align: center

  .follow-us__link
    display: inline-block
    vertical-align: top
    margin-bottom: 25px
    font-size: 14px
    line-height: 18px
    font-weight: 300
    text-decoration: none
    color: #000

  @media (min-width: 1000px)
    .follow-us__link
      margin-bottom: 30px
      font-size: 16px
      letter-spacing: .8px

  .descr__title
    font-weight: lighter
    color: #818181
    margin-bottom: 7px
    font-size: 2em
    line-height: 40px
    text-align: center
    letter-spacing: 1.8px
    text-transform: uppercase

  @media (min-width: 1000px)
    .descr__title
        font-size: 20px
        line-height: 24px
        letter-spacing: .454545px

  .descr__img
    display: block
    max-width: 100%
    margin: 0 auto 40px

  @media (min-width: 1000px)
    .descr__img
      width: 320px
      max-width: 320px
      margin-bottom: 25px

  .descr__text
    width: 85%
    margin: 0 auto 35px
    font-size: 14px
    line-height: 20px
    font-weight: 300
    color: #101010

  @media (min-width: 1000px)
    .descr__text
      width: 69%
      margin-bottom: 25px
      line-height: 18px


  .descr__link-wrap
    display: inline-block
    vertical-align: top
    margin-bottom: -20px
    width: 225px

  .descr__link
    display: inline-block
    vertical-align: top
    padding-top: 10px
    padding-bottom: 10px
    font-size: 12px
    line-height: 12px
    letter-spacing: 1px
    text-transform: uppercase
    text-decoration: none
    color: #000
    border: 3px solid #f4d600
    transition: .4s

    > span
      width: calc(100% + 6px)
      display: block
      margin-left: -3px
      background-color: #efefef
      padding: 3px 45px 0

  .items-row
    display: flex
    width: calc(100% - 14px)
    margin: 2px auto

    > span
      font-size: 70px
      color: white
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      transition: 0.5s

      &:hover
        color: $main_color

      &:active
        transform: scale(0.8)

      &::selection
        background: transparent

@media (max-width: $ipad)
  .attention
    height: 35vh !important

  .attentions
    display: block !important

  .features
    display: none !important

@media (max-width: $mobile)
  .attention
    height: 200px !important

  .attentions
    display: block !important

  .features
    display: none !important

  .items-row
    .item-preview
      height: 230px
