@import "../../variables"

.item
  position: relative
  height: 300px
  width: 220px
  margin: 0 15px 15px
  overflow: hidden
  transition: 0.5s
  background: $second_color

  &:hover
    //box-shadow: 0 0 8px 2px white

  > svg
    position: absolute
    z-index: 1
    top: 10px
    left: 10px
    font-size: 21px
    cursor: pointer
    transition: 0.5s

    &:hover
      color: $second_color

  .img
    height: 70%

  .toggle-buttons-text
    font-size: 17px
    height: 10%
    color: $font_color

  .name
    font-size: 16px
    font-weight: 500
    color: $font_color

  .cost
    color: $font_color
    font-weight: 600
    font-size: 14px

  button.active
    width: 100%
    justify-content: space-around

    &:hover
      background: $second_color

    span
      &:first-child, &:last-child
        transition: 0.5s
        &:hover
          color: $main_color

  button
    position: relative
    @include contentCentered
    width: 30%
    height: 100%
    background: $second_color
    border: none
    color: $font_color
    font-size: 25px
    font-weight: 500
    outline: none
    cursor: pointer
    transition: 0.5s
    z-index: 0

    svg
      transition: 0.5s

    &:hover
      background: adjust_color($background_second, $alpha: 0.1)
      svg
        transform: translateY(3px)

    &:active
      transform: scale(0.9)

  .liked
    color: $main_color
    animation: liked 0.5s

  .item-body
    position: absolute
    top: 80%
    left: 0
    display: flex
    width: 100%
    height: 20%
    color: $second_color

    .info
      display: flex
      justify-content: space-around
      align-items: flex-start
      flex-direction: column
      width: 70%
      background: $second_color
      padding: 3px 7px


@media (max-width: $mobile)
  .item
    .name, .cost
      font-size: 20px

@keyframes liked
  50%
    transform: scale(1.3)
  100%
    transform: scale(1)
