@import '../../variables'

.linker
  padding-left: 0
  margin-bottom: 10px !important
  width: 100%
  height: fit-content
  display: block
  color: #8e8e8e
  letter-spacing: 0
  font-size: 14px

  h1
    font-size: 3em
    margin: 0
    letter-spacing: .1em
    padding: 0 10px

  ul
    margin: 0
    display: inline-flex
    list-style: none
    line-height: 30px
    padding: 0 10px

  li
    margin-right: 19px

    a
      color: #a8a8a8
      position: relative
      text-decoration: none
      -webkit-transition: .15s ease-in-out
      -o-transition: .15s ease-in-out
      transition: .15s ease-in-out
      font-size: 14px
      line-height: 18px
      letter-spacing: .5px

      &:before
        background-image: linear-gradient(to right,#707070 40%,rgba(255,255,255,0) 0)
        background-position: bottom
        -webkit-background-size: 3px 2px
        background-size: 3px 2px
        background-repeat: repeat-x
        content: ""
        height: 2px
        opacity: .4
        position: absolute
        right: -15px
        top: 5px
        width: 12px

.left-slide
  position: fixed

.wrapper
  min-width: 320px
  max-width: 767px
  padding-right: 10px
  padding-left: 10px
  margin: 0 auto
  padding-top: 100px

.wrapper--indent-pb-small
  padding-bottom: 30px

.wrapper--flex
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start

@media (min-width: 1000px)
  .wrapper
    max-width: 1320px

@media (max-width: 1000px)
  .filter
    position: relative !important
    top: 0

.wrapper
  padding-top: 65px
