@import '../../variables'

.icon-cart
  width: 25px
  height: 25px

.cart
  display: flex
  position: relative
  color: white
  text-decoration: none
  align-items: center
  justify-content: center
  z-index: 0


  svg
    transition: 0.5s
    cursor: pointer
    &:hover
      color: black

  .count
    position: absolute
    top: 20%
    right: 15%
    color: white
    border-radius: 50%
    background: black
    width: 18px
    height: 18px
    font-size: 12px
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid black

@media(max-width: 600px)
  .cart .count
    background: $main_color !important
    border: 2px solid $main_color !important
