@import '../../../variables'

.lists
  overflow: hidden
  padding: 12px 0
  position: relative

  .img
    float: left
    height: 110px
    position: relative
    width: 95px
    margin-top: 15px

    img
      left: 50%
      max-width: 100%
      position: absolute
      top: 50%
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)

  .info
    float: left
    margin-left: 7px
    width: 200px
    padding-top: 0

    .name
      color: #131313
      font-size: 13px
      letter-spacing: 0.24px
      padding-right: 20px
      text-decoration: none

  .desc
    color: #979797
    font-size: 11px
    letter-spacing: 0.29px
    line-height: 1.7
    margin: 7px 0 0

    p
      margin-bottom: 2px
      color: #131313

  .cost
    color: #979797
    letter-spacing: 0.26px
    line-height: 1.7
    margin-top: -2px
    font-size: 0
    margin-bottom: 10px

    span
      font-size: 9px
      margin-left: 0
      margin-right: 15px

  ._counter_
    border-radius: 2px
    list-style: none
    border: 1px solid #d8e1e5
    cursor: default
    height: 35px
    line-height: 35px
    text-align: center
    width: 95px
    padding: 0
    display: inline-flex

    li
      width: 33.3%
      color: #101010

    li + li
      border-left: 1px solid #d8e1e5

    ._minus, ._plus
      color: #8e8e8e
      cursor: pointer

  .total
    bottom: 17px
    color: #101010
    font-size: 16px
    letter-spacing: 0.3px
    position: absolute
    right: 10px

.trash
  position: absolute
  width: 20px
  height: 20px
  top: 0
  right: 10px
  color: $background_main

@media (max-width: 1000px) and (min-width: 320px)
  ._counter_
    width: 85px
    height: 30px
