@import '../../../variables'

.nabor-item
  display: flex
  height: 50px
  align-items: center

  img
    width: 50px
    border-radius: 98px
    border: 1px solid white
    margin-right: 10px

  span
    color: #797979
    padding-left: 10px
    margin-right: 10px

.imageName
  padding-left: 20px !important

.trash_td
  position: relative
  display: flex
  padding: 14px 22px !important
  width: 10%

.tr
  border-top: 1px solid #EAEFF2
  padding: 20px 0

  td
    padding: 20px 0

    .art
      text-transform: uppercase
      font-size: 14px
      line-height: 16px
      letter-spacing: 0.24375px
      color: #131313
      font-weight: 300
      padding-left: 15px
      padding-top: 6px

    .img
      display: inline-block
      height: 110px
      position: relative
      vertical-align: middle
      width: 90px
      margin-right: 25px

      img
        left: 50%
        max-height: 95%
        max-width: 95%
        position: absolute
        top: 50%
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)

    .cnt
      display: inline-flex
      flex-direction: column
      vertical-align: top
      padding-top: 8px

      a
        font-size: 14px
        text-decoration: none
        display: inline-block
        vertical-align: top
        line-height: 95px
        color: #131313
        font-weight: 300

    .coast
      color: #797979

    .sum
      text-align: right
      font-size: 15px
      line-height: normal
      letter-spacing: 0.3px
      width: 25px
      color: #101010
      font-weight: 700
      padding-right: 16px
      margin-right: 50px
      margin-left: auto

  .count
    display: flex
    justify-content: flex-end
    margin-top: 20px

    ._counter_
      border-radius: 2px
      padding: 0
      list-style: none
      border: 1px solid #d8e1e5
      cursor: default
      height: 35px
      text-align: center
      width: 95px

      li
        float: left
        height: 100%
        width: 33.33%
        font-size: 15px
        line-height: 35px
        padding-top: 0
        letter-spacing: 0.36px
        color: #101010

      li + li
        border-left: 1px solid #d8e1e5

      ._minus, ._plus
        color: #8e8e8e
        cursor: pointer


@media (max-width: 1500px)
  td
    padding: 10px 0 !important

  .img
    height: 90px
    width: 90px

  .sum
    font-size: 14px
    letter-spacing: 0
