@import '../../variables'

@keyframes roll
  from
    transform: translateX(0)
  to
    transform: translateX(-100%)


.carouselsss
  position: relative
  height: 245px

  .images
    width: 2940px
    height: 245px
    animation: roll 90s linear infinite
    font-size: 0

  .inst-block
    position: relative
    height: 245px
    width: 245px
    display: table-cell
    opacity: 1
    text-decoration: none

    img
      height: 245px
      width: 245px
