@import '../../variables'

.arrowControlLeft
  cursor: pointer
  position: absolute
  height: 100%
  width: 100px
  background: black
  z-index: 1
  opacity: .4
  top: 0
  left: 0

  svg
    color: white
    width: 50%
    margin: 5em 0

.arrowControlRight
  cursor: pointer
  position: absolute
  height: 100%
  width: 100px
  background: black
  z-index: 1
  opacity: .4
  top: 0
  right: 0

  svg
    color: white
    width: 50%
    margin: 5em 0

.carouselsss
  position: relative
  height: 245px

  .images
    width: 100%
    height: 245px
    font-size: 0

  .inst-block
    position: relative
    height: 245px
    width: 245px
    display: table-cell
    text-decoration: none

    img
      height: 245px
      width: 245px
