@import "../../variables"

.option:hover:before, .option:hover:after
  position: absolute
  left: 16px
  content: ' '
  height: 35px
  width: 2px
  z-index: 1
  background-color: #000

.option:hover:before
  transform: rotate(45deg)

.option:hover:after
  transform: rotate(-45deg)

.open
  display: block!important

.mobile
  margin-top: 20px
  display: none

.left-slide-mobile
  display: none
  position: fixed
  width: 100%
  height: 100%
  background-color: white
  z-index: 2
  left: 0

  .cross
    font-size: 30px
    position: absolute
    top: 10px
    right: 20px

  .left-menu
    margin-top: 30px

.left-slide
  position: fixed

.linker
  padding-left: 0
  margin-bottom: 10px
  width: 100%
  height: fit-content
  color: #8e8e8e
  letter-spacing: 0
  font-size: 14px

  h1
    font-size: 3em
    margin: 0
    letter-spacing: .1em
    padding: 0 10px

  ul
    display: inline-flex
    list-style: none
    margin: 0
    line-height: 30px
    padding: 0 10px

  li
    margin-right: 19px

    a
      color: #a8a8a8
      position: relative
      text-decoration: none
      -webkit-transition: .15s ease-in-out
      -o-transition: .15s ease-in-out
      transition: .15s ease-in-out
      font-size: 14px
      line-height: 18px
      letter-spacing: .5px

      &:before
        background-image: linear-gradient(to right,#707070 40%,rgba(255,255,255,0) 0)
        background-position: bottom
        -webkit-background-size: 3px 2px
        background-size: 3px 2px
        background-repeat: repeat-x
        content: ""
        height: 2px
        opacity: .4
        position: absolute
        right: -15px
        top: 5px
        width: 12px

.button
  width: 100%
  display: none
  height: 40px
  background: #5d5d5d
  color: white
  font-weight: bolder
  text-transform: uppercase

.shw
  display: block

.chsn
  border: 1px solid #5d5d5d !important
  color: transparent
  position: relative

  img
    display: block !important

.wrapper
  min-width: 320px
  max-width: 767px
  padding-right: 10px
  padding-left: 10px
  margin: 0 auto
  padding-top: 100px

.wrapper--indent-pb-small
  padding-bottom: 30px

.wrapper--flex
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start

.left-menu
  width: 300px
  padding: 5px 0 0
  height: fit-content
  margin-right: 25px
  background: white

  .group
    border-bottom: 1px solid #ebf0f3
    margin: 10px 0
    padding: 5px 15px 15px

    .name
      color: #1d1d1d
      cursor: pointer
      font-weight: 700
      padding: 5px 0
      position: relative
      text-transform: uppercase
      font-size: 18px
      line-height: 18px
      letter-spacing: 1.12px

    .tags
      color: #5d5d5d
      list-style: none
      font-size: 16px
      letter-spacing: .96px
      margin: 10px 0
      overflow: hidden
      text-transform: uppercase

      li
        -webkit-border-radius: 1px
        border-radius: 1px
        border: 1px solid #d8e1e5
        cursor: pointer
        float: left
        height: 37px
        margin: 0 0 7px 7px
        line-height: 37px
        text-align: center
        -webkit-transition: .4s
        -o-transition: .4s
        transition: .4s
        width: auto
        padding: 0 10px
        color: #5d5d5d

      li:hover
        color: #5D5D5D
        border-color: #5D5D5D

      .active
        background: #5D5D5D
        border-color: #5D5D5D
        color: #fff


    .options
      color: #5d5d5d
      list-style: none
      font-size: 16px
      letter-spacing: .96px
      margin: 10px 0
      width: 225px
      overflow: hidden
      text-transform: uppercase

      li
        position: relative
        -webkit-border-radius: 1px
        border-radius: 50%
        border: 1px solid #d8e1e5
        cursor: pointer
        float: left
        height: 37px
        margin: 0 0 7px 7px
        line-height: 37px
        text-align: center
        -webkit-transition: .4s
        -o-transition: .4s
        transition: .4s
        width: 37px
        padding: 0 10px
        color: #5d5d5d

        img
          display: none
          position: absolute
          top: 3.5px
          left: 3.5px
          width: 27px
          height: 27px

      li:hover
        color: #5D5D5D
        border-color: #5D5D5D

      .active
        background: #5D5D5D
        border-color: #5D5D5D
        color: #fff

    .four, .six, .eight, .three, .five
      display: none

    .vis
      display: block!important


  .order
    width: 100%
    height: 50px
    text-align: center
    border-bottom: 2px solid $main_color
    margin-top: 0

  .filter
    position: relative
    box-shadow: none
    margin-right: 0
    top: 0


@media (min-width: 1000px)
  .wrapper
    max-width: 1320px

@media (max-width: 1000px)
  .left-slide
    display: none

  .mobile
    display: block

  .wrapper
    padding-top: 65px
