@import "../../variables"

.button
  width: 100%
  display: none
  height: 40px
  background: black
  color: white
  font-weight: bolder
  text-transform: uppercase

.shw
  display: block

.chsn
  border: 1px solid #5d5d5d !important
  background: black
  color: white !important

.wrapper
  min-width: 320px
  max-width: 767px
  padding-right: 10px
  padding-left: 10px
  margin: 0 auto
  padding-top: 150px

.wrapper--indent-pb-small
  padding-bottom: 30px

.wrapper--flex
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start

.left-menu
  width: 300px
  padding: 5px 0 0
  height: fit-content
  margin-right: 25px
  background: white
  position: fixed

  .group
    border-bottom: 1px solid #ebf0f3
    margin: 10px 0
    padding: 5px 15px 15px

    .name
      color: #1d1d1d
      cursor: pointer
      font-weight: 700
      padding: 5px 0
      position: relative
      text-transform: uppercase
      font-size: 18px
      line-height: 18px
      letter-spacing: 1.12px

    .tags
      color: #5d5d5d
      list-style: none
      font-size: 16px
      letter-spacing: .96px
      margin: 10px 0
      overflow: hidden
      text-transform: uppercase

      li
        -webkit-border-radius: 1px
        border-radius: 1px
        border: 1px solid #d8e1e5
        cursor: pointer
        float: left
        height: 37px
        margin: 0 0 7px 7px
        line-height: 37px
        text-align: center
        -webkit-transition: .4s
        -o-transition: .4s
        transition: .4s
        width: auto
        padding: 0 10px
        color: #5d5d5d

      li:hover
        color: #000
        border-color: #000

      .active
        background: #000
        border-color: #000
        color: #fff


    .options
      color: #5d5d5d
      list-style: none
      font-size: 16px
      letter-spacing: .96px
      margin: 10px 0
      overflow: hidden
      text-transform: uppercase

      li
        -webkit-border-radius: 1px
        border-radius: 50%
        border: 1px solid #d8e1e5
        cursor: pointer
        float: left
        height: 37px
        margin: 0 0 7px 7px
        line-height: 37px
        text-align: center
        -webkit-transition: .4s
        -o-transition: .4s
        transition: .4s
        width: 37px
        padding: 0 10px
        color: #5d5d5d

      li:hover
        color: #000
        border-color: #000

      .active
        background: #000
        border-color: #000
        color: #fff

    .four, .six, .eight, .three, .five
      display: none

    .vis
      display: block!important


  .order
    width: 100%
    height: 50px
    text-align: center
    border-bottom: 2px solid $main_color
    margin-top: 0

  .filter
    position: relative
    box-shadow: none
    margin-right: 0


@media (min-width: 1000px)
  .wrapper
    max-width: 1320px

@media (max-width: 1000px)
  .left-menu
    width: 100%!important
    margin-right: 0!important

  .catalog-list
