@import '../../variables'

.desktopHeader
  position: fixed
  width: 100%
  z-index: 10
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, .2)
  background: white

.linkHeader
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 20px 200px

  a
    text-decoration: none
    color: black

.headerDesktop
  z-index: 10
  background: white
  width: 100%
  height: 100px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 200px

  .subHeader
    flex: 0.2
    display: flex
    align-items: center
    justify-content: space-between

    .cart
      margin-left: 40px
      color: black
      font-size: 25px !important
      height: 25px !important

      .count
        top: -5px !important
        right: -10px !important

  .titleHeader
    flex: 1
    display: flex
    color: black
    text-decoration: none
    align-items: center

    h1
      background: black
      color: white
      text-transform: uppercase
      font-size: 50px
      padding: 1px 5px

    p
      margin-left: 20px
      font-size: 24px
      text-transform: uppercase
      font-weight: bold

  .contactBlock
      p
        font-size: 18px
        display: flex
        align-items: center

        svg
          width: 18px

        span
          margin-right: 10px

.mobileHeader
  z-index: 10
  border-bottom: 2px solid $main_color
  display: none
  align-items: center
  position: fixed
  justify-content: center
  width: 100vw
  height: 70px
  line-height: 35px
  color: white
  background: $background_main

  .menu
    position: absolute
    left: 5%
    width: 25px
    height: 25px
    cursor: pointer
    font-size: 25px
    transition: 0.5s

    &:hover
      color: $main_color

  .logo
    height: 80px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    width: 180px
    background-image: url('../../image/logo.png')
    margin-left: 25px

  .cart
    position: absolute
    right: 7%
    font-size: 25px !important
    height: 25px !important

    .count
      top: -5px !important
      right: -10px !important

@media (max-width: 600px)
  .desktopHeader
    display: none

  .wrapper
    padding-top: 70px !important

  .mobileHeader
    display: flex

  .cart
    width: auto !important
    height: auto !important

    .count
      top: -10px !important
      right: -15px !important
