@import '../../variables'

.liner
  .swiper-slide
    display: inline-block!important
    width: 30%!important
    height: 30%!important

.container
  h1
    width: fit-content
    margin: 0 auto

  .product-list
    margin: 50px 0
    display: flex

    .product
      width: calc(25% - 25px) !important
      margin: 0 25px 30px 0 !important

.first li:nth-child(1)
  .ttl:after
    opacity: 0

  .descr
    display: block

.second li:nth-child(2)
  .ttl:after
    opacity: 0

  .descr
    display: block

.third li:nth-child(3)
  .ttl:after
    opacity: 0

  .descr
    display: block

.four li:nth-child(4)
  .ttl:after
    opacity: 0

  .descr
    display: block

.accrd
  border-top: 1px solid #ebf0f3
  margin: 20px 0
  list-style: none
  padding: 0

  .child
    border-bottom: 1px solid #ebf0f3
    padding: 10px 0

    .descr
      color: #161616
      display: none
      font-size: 14px

    .ttl
      color: #010101
      cursor: pointer
      font-size: 12px
      letter-spacing: .96px
      padding: 7px 0
      position: relative
      text-transform: uppercase

      &:before
        background: #dee1e3
        content: ""
        height: 2px
        position: absolute
        right: 0
        top: 13px
        width: 16px

      &:after
        background: #dee1e3
        content: ""
        height: 16px
        position: absolute
        right: 7px
        top: 6px
        -webkit-transition: .15s ease-in-out
        -o-transition: .15s ease-in-out
        transition: .15s ease-in-out
        width: 2px

.gray
  background: gray !important

.black
  background: black !important

.white
  background: white !important

.red
  background: darkred !important

.yellow
  background: yellow !important

.blue
  background: blue !important

.orange
  background: orange !important

.pink
  background: pink !important

.green
  background: green !important

.gradient
  background: linear-gradient(to right, #f00 20%, #0f0 50%, #36f 80%) !important

.linkerer
  padding-left: 0
  width: 100%
  height: fit-content
  display: block
  color: #8e8e8e
  letter-spacing: 0
  font-size: 14px
  padding-top: 10px

  h1
    font-size: 3em
    margin: 0
    letter-spacing: .1em
    padding: 0 10px

  ul
    display: inline-flex
    list-style: none
    line-height: 30px
    padding: 0 10px
    margin: 0
    padding-left: 0

  li
    margin-right: 19px

    a
      color: #a8a8a8
      position: relative
      cursor: pointer !important
      text-decoration: none
      -webkit-transition: .15s ease-in-out
      -o-transition: .15s ease-in-out
      transition: .15s ease-in-out
      font-size: 14px
      line-height: 18px
      letter-spacing: .5px

      &:before
        background-image: linear-gradient(to right,#707070 40%,rgba(255,255,255,0) 0)
        background-position: bottom
        -webkit-background-size: 3px 2px
        background-size: 3px 2px
        background-repeat: repeat-x
        content: ""
        height: 2px
        opacity: .4
        position: absolute
        right: -15px
        top: 5px
        width: 12px



.rub-symbol
  font-family: "Circe"
  font-style: normal
  color: inherit

.wrapper
  padding-top: 100px

.wrapperss
  min-width: 320px
  max-width: 767px
  padding-right: 10px
  padding-left: 10px
  background: white
  border-radius: 1px
  margin: 0 auto 50px

  .prod_mobile
    display: none

    .mod_top
      padding: 1px 5px
      width: 100%

      p
        color: #131313
        text-transform: uppercase
        font-size: 24px
        line-height: 28px
        letter-spacing: .55px
        text-align: left
        margin-top: 0
        margin-bottom: 10px

    .photos
      display: block
      height: 330px
      width: 100%
      margin: 0 auto 55px

      img
        width: 80%
        height: 80%
        display: block
        margin: 0 auto

    .content
      border: none
      display: inline-block
      margin: 0 auto 0 0
      padding-left: 10px
      text-align: left
      vertical-align: top
      width: 100%
      padding-bottom: 0

      .info
        border-bottom: 1px solid #ebf0f3
        border-top: 1px solid #ebf0f3
        margin: 5px 0
        margin-top: 10px
        padding: 25px 0 20px

        .colors
          margin: 20px 0
          padding-left: 102px
          position: relative

          &:before
            font-size: 12px
            content: attr(data-title)
            left: 0
            position: absolute
            text-transform: uppercase
            width: 60px
            display: flex
            align-items: center
            line-height: normal
            letter-spacing: 1.4px
            font-weight: 600
            color: #000
            top: 8px

          li
            display: inline-block
            margin-left: 8px

            span
              display: inline-block
              height: 30px
              vertical-align: top
              width: 30px

              &:after
                content: ''
                position: absolute
                width: 25px
                height: 25px
                border: 1px solid #1D1D1D

        .art
          color: #4a4a4a
          font-size: 14px
          letter-spacing: 0.3px
          margin-bottom: 20px
          padding-left: 110px
          position: relative

          &:before
            content: attr(data-title)
            font-size: 12px
            font-weight: 700
            left: 1px
            letter-spacing: 1.2px
            position: absolute
            text-transform: uppercase
            top: 1px
            width: 70px

          .count
            display: flex
            margin-top: 20px
            padding: 0!important

            ._counter_
              border-radius: 2px
              padding: 0
              margin-top: 0
              list-style: none
              border: 1px solid #d8e1e5
              cursor: default
              height: 35px
              text-align: center
              width: 95px

              li, span
                float: left
                height: 100%
                width: 33.33%
                font-size: 15px
                line-height: 35px
                padding-top: 0
                letter-spacing: 0.36px
                color: #101010

              li + li, span + span
                border-left: 1px solid #d8e1e5

              ._minus, ._plus
                color: #8e8e8e
                cursor: pointer

        .sizes
          padding-left: 110px
          position: relative

          &:before
            color: #4a4a4a
            font-size: 12px
            content: attr(data-title)
            left: 0
            position: absolute
            text-transform: uppercase
            width: 60px
            line-height: normal
            letter-spacing: 1.4px
            font-weight: 700
            top: 16px

          li
            cursor: pointer
            display: inline-block
            height: 30px
            line-height: 30px
            margin: 0 0 9px 3px
            text-align: center
            transition: .4s
            border: 1px solid #D8E1E5
            background: #fff
            width: 60px
            font-size: 12px
            letter-spacing: 0.2px
            font-weight: 600
            color: #5D5D5D

            &:hover
              border: 1px solid #5D5D5D

          .active
            background:  #5D5D5D
            color: white

      .cost
        display: flex
        align-items: center
        margin: 15px 0
        margin-top: 18px

        .cur
          font-size: 30px
          font-weight: 600
          letter-spacing: 0.5px
          font-size: 32px

      .btns
        margin: 15px 0

        ._incart
          background: #5d5d5d
          border-radius: 1px
          border: none
          color: #fff
          cursor: pointer
          font-size: 12px
          height: 40px
          position: relative
          text-transform: uppercase
          transition: .15s ease-in-out
          vertical-align: top
          width: 100%
          white-space: nowrap
          letter-spacing: 0.7px
          font-weight: 600

        .act
          border: 1px solid #5d5d5d
          background: white
          color: #5d5d5d

  .prod
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    min-height: 800px
    overflow: hidden

    .photos
      padding-bottom: 90px
      position: relative
      width: 60%

      .thumbs
        float: left
        margin-top: 20px
        position: relative
        width: 80px

        .swiper-slide
          -webkit-flex-shrink: 0
          -ms-flex-negative: 0
          flex-shrink: 0
          width: 100%
          height: 90px
          position: relative
          -webkit-transition-property: -webkit-transform
          -o-transition-property: transform
          transition-property: transform,-webkit-transform
          border: 3px solid transparent
          cursor: pointer
          -webkit-transition: border-color .15s ease-in-out
          -o-transition: border-color .15s ease-in-out
          transition: border-color .15s ease-in-out

          &:hover
            border-color: #e8f0f3

          img
            left: 50%
            max-height: 95%
            max-width: 95%
            position: absolute
            top: 50%
            -webkit-transform: translate(-50%,-50%)
            -ms-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)

        .selected
          border-color: #e8f0f3

      .main-wrap
        height: 700px
        left: 85px
        position: absolute
        width: calc(100% - 180px)

        img
          left: 50%
          height: initial
          width: 100%
          position: absolute
          top: 45%
          -webkit-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)

    .content
      border-left: 1px solid #EBF0F3
      padding: 12px 0px 12px 20px
      width: 40%
      margin-left: auto

      .title
        color: #000
        font-weight: 700
        font-family: 'Bebas Neue'
        font-size: 36px
        text-align: left
        letter-spacing: 1.7px
        margin-top: 10px
        margin-bottom: 20px
        text-transform: uppercase

      .info
        border-bottom: 1px solid #EBF0F3
        border-top: 1px solid #EBF0F3
        margin: 10px 0
        padding: 15px 0

        .art
          color: #4a4a4a
          font-size: 14px
          letter-spacing: 0.3px
          margin-bottom: 20px
          padding-left: 110px
          position: relative

          &:before
            content: attr(data-title)
            font-size: 12px
            font-weight: 700
            left: 1px
            letter-spacing: 1.2px
            position: absolute
            text-transform: uppercase
            top: 1px
            width: 70px

          .count
            display: flex
            margin-top: 20px
            padding: 0!important

            ._counter_
              border-radius: 2px
              padding: 0
              margin-top: 0
              list-style: none
              border: 1px solid #d8e1e5
              cursor: default
              height: 35px
              text-align: center
              width: 95px

              li
                float: left
                height: 100%
                width: 33.33%
                font-size: 15px
                line-height: 35px
                padding-top: 0
                letter-spacing: 0.36px
                color: #101010

              li + li
                border-left: 1px solid #d8e1e5

              ._minus, ._plus
                color: #8e8e8e
                cursor: pointer

        .colors
          margin: 20px 0
          padding-left: 102px
          position: relative

          &:before
            font-size: 12px
            content: attr(data-title)
            left: 0
            position: absolute
            text-transform: uppercase
            width: 60px
            display: flex
            align-items: center
            line-height: normal
            letter-spacing: 1.4px
            font-weight: 600
            color: #000
            top: 8px

          li
            display: inline-block
            margin-left: 8px

            span
              display: inline-block
              height: 30px
              vertical-align: top
              width: 30px

              &:after
                content: ''
                position: absolute
                width: 25px
                height: 25px
                border: 1px solid #1D1D1D

        .sizes
          padding-left: 85px
          position: relative

          &:before
            color: #010101
            font-size: 12px
            content: attr(data-title)
            left: 0
            position: absolute
            text-transform: uppercase
            width: 60px
            line-height: normal
            letter-spacing: 1.4px
            font-weight: 600
            top: 16px

          li
            cursor: pointer
            display: inline-block
            height: 30px
            line-height: 30px
            margin: 0 0 9px 3px
            text-align: center
            transition: .4s
            border: 1px solid #D8E1E5
            background: #fff
            width: 60px
            font-size: 12px
            letter-spacing: 0.2px
            font-weight: 600
            color: #5D5D5D

            &:hover
              border: 1px solid #5D5D5D

          .active
            background:  #5D5D5D
            color: white

      .cost
        display: flex
        align-items: center
        margin: 15px 0
        margin-top: 18px

        .cur
          font-size: 30px
          font-weight: 600
          letter-spacing: 0.5px
          font-size: 32px

      .btns
        margin: 15px 0

        ._incart
            background: #5d5d5d
            border-radius: 1px
            border: none
            color: #fff
            cursor: pointer
            font-size: 12px
            height: 40px
            position: relative
            text-transform: uppercase
            transition: .15s ease-in-out
            vertical-align: top
            width: 245px
            white-space: nowrap
            letter-spacing: 0.7px
            font-weight: 600

        .act
          border: 1px solid #5d5d5d
          background: white
          color: #5d5d5d


@media (min-width: 1000px)
  .wrapperss
    max-width: 1320px

    .prod
      min-height: 600px

      .content
        padding: 10px 0 0 10px

        .title
          font-size: 30px
          letter-spacing: 1px
          margin: 5px 0

        .info
          margin: 5px 0
          padding: 10px 0

          .art
            padding-left: 90px

          .colors
            margin: 10px 0
            padding-left: 88px

            &:before
              font-size: 10px

            li
              margin-left: 5px

              span
                height: 25px
                width: 25px

          .sizes
            font-size: 11px
            padding: 10px 0 0 70px
            padding-left: 85px

            &:before
              font-size: 10px
              top: 18px

            li
              height: 25px
              line-height: 25px
              margin: 0 0 5px 3px
              width: 50px

        .cost
          margin: 10px 0

          .cur
            font-size: 25px
            letter-spacing: 1px

        .btns
          margin: 5px 0

          ._incart
            height: 35px
            letter-spacing: 0
            width: 180px

@media(max-width: $mobile)
  .container
    display: none

  .prod_mobile
    display: block!important

  .prod
    display: none!important

  .wrapper
    padding-top: 70px !important

@media(max-width: 1500px)
  .accrd
    margin: 15px 0

  .child
    padding: 5px 0

  .ttl
    letter-spacing: 0
    padding: 5px 0

  .descr
    font-size: 12px
