@import "../../variables"

.banners-block
  display: flex
  flex-wrap: wrap
  margin: 200px

.banner
  width: calc(50% - 2 * 10px)
  position: relative
  @include contentCentered
  transition: 0.5s
  text-decoration: none
  margin: 10px

  img
    position: absolute

  span
    position: relative
    z-index: 2
    text-transform: uppercase
    font-size: 80px
    color: $second_color
    text-shadow: 1px 1px 1px $font_color
    transition: 0.5s

  &::before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    background: $background_main
    z-index: 1
    opacity: 0
    transition: 0.5s

  &:hover
    span
      color: $main_color

    &::before
      opacity: 0.3

@media (max-width: 900px)
  .banners-block
    display: block
    margin: 0
    width: 100%
    height: fit-content !important

    .banner
      width: 100%
      height: 200px

      img
        width: 100%
        height: 100%

      span
        font-size: 35px
